body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    rgb(194, 194, 194),
    rgb(203, 168, 72)
  );
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: rgb(54, 54, 46);
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 40px 0;
}

.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 50%;
  height: auto;
}
.project img:hover {
  transform: scale(1.2, 1.22);
  transition-duration: 1s;
}
.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 70px;
}

footer {
  background-color: rgb(54, 54, 46);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}
